<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>开户行选择界面</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
    <link type="text/css" rel="stylesheet" href="../config/css/public2.css" />
</head>
<body>
<form id="form" action="" onsubmit="return false;">

    <div class="ui-layout-search">
        <div class="ui-layout-search-body">
            <table class="ui-form-fields">
            <tr>
                <td class="field" width="7%">
                    <label>开户行：</label>
                </td>
                <td>
                    <div class="ui-text">
                        <input type="text" id="searchText" name="searchText" placeholder="请输入开户行名称" class="ui-text-text" />
                    </div>
                </td>
            </tr>
            </table>
        </div>
        <!-- 搜索刷新按钮-->
        <div class="ui-layout-search-foot">
            <div class="buttons">
        			<span id="btnClean" class="ui-search-button ui-search-button-clean">
    	            	<label class="ui-search-button-text">$!pageConst.BTN_RESET</label>
    	            </span>
    	            <span id="btnSearch" class="ui-search-button">
    	            	<label class="ui-search-button-text">$!pageConst.BTN_SEARCH</label>
    	            </span>
                </div>
        </div>
    </div>
</form>
<div id="dataDiv" style="overflow: auto; white-space: nowrap; text-overflow: ellipsis; width: 100%;height: 250px;"></div>
<hr class="ui-line"></hr>
<div class="ui-layout-closure">
        <span id="btnCloseSelect" class="ui-closure-button ui-closure-button-cancel ml15">
            <label class="ui-closure-button-text">关闭</label>
        </span>
    </div>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/third/highCharts/js/highcharts.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/third/highCharts/js/exporting.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/third/My97DatePicker/WdatePicker.js"></script>

<!-- //页面业务逻辑脚本 -->
<script type="text/javascript">
    $(function(){

        //关闭
        $('#btnCloseSelect').click(function(){
            closeDialog();
        });
        //clean
        $('#btnClean').click(function(){
            $('#searchText').val('');
        });
        //search
        $('#btnSearch').click(function(){
            //do search
            var text = $('#searchText').val();
            if(text==''){
                return false;
            }else{
                var url = '../contract/queryAccountBank.html?random='+Math.random()*10000;
                $.post(url, {"text":text},
                        function (data) {
                            $("#dataDiv").html(data);
                        }, "html");
            }
        });

    });
    //关闭dialog
    function closeDialog(bankNo,coffer){
        var dialog = getDialog('selectAccountBank');
        //存值
        if(bankNo && coffer ){
            dialog.bankNo=bankNo;
            dialog.coffer=coffer;
        }
        dialog.close();
    }
    function selectBank(bankNo,coffer){
        closeDialog(bankNo,coffer);
    }

</script>
</body>
</html>
