<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>业务品种分类</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
    <link type="text/css" rel="stylesheet" href="../config/css/public2.css" />
</head>
<body>
<input type="hidden" id="ywtx" value=""/>
<input type="hidden" id="ywtxbm" value=""/>
<input type="hidden" id="prdName" value=""/>
<input type="hidden" id="subCode" value=""/>

<form id="form" action="" onsubmit="return false;">

    <div class="ui-layout-search">
        <div class="ui-layout-search-body">
            <table class="ui-form-fields">
            <tr>
                <td class="field" width="7%">
                    <label>业务条线：</label>
                </td>
                <td>
                    <div class="ui-text">
                        <input type="text" id="selectVal" name="selectVal" readonly class="ui-text-text" />
                    </div>
                </td>
            </tr>
            </table>
        </div>
    </div>
</form>
<div style="height:290px;overflow-y:scroll">
    <ul id="treeSelect" class="ztree" style="margin-top:0; width: 300px"></ul>
</div>
<hr class="ui-line"></hr>
<div class="ui-layout-closure">
        <span id="btnSelectSure" class="ui-closure-button">
            <label class="ui-closure-button-text">确定选择</label>
        </span>
        <span id="btnCloseSelect" class="ui-closure-button ui-closure-button-cancel ml15">
            <label class="ui-closure-button-text">关闭</label>
        </span>
    </div>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/third/highCharts/js/highcharts.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/third/highCharts/js/exporting.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/third/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.ztree.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.treeselectbox.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.checkbox.js"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>

<!-- //页面业务逻辑脚本 -->
<script type="text/javascript" src="../loan/js/contract/selectCrmPrdType.js"></script>
</body>
</html>
