<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="../core/css/global.css?v=$!webAppVersion" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css?v=$!webAppVersion" />
    <style type="text/css">
        .roles .ui-form-fields .field{ padding-left:0; padding-right:2px; }
    </style>
</head>

<body>
<form id="form" >
<input type="hidden" id="id" name="id" value="$!surveyFlow.id"/>
<tbody>
<table class="ui-form-fields" >

<tr style="80%">
    <td class="field" width="30%">
        <label class="ui-star">流程名称：</label>
    </td>
    <td>
        <div class="ui-text" style="width: 70%">
            <input type="text" id="flowName" class="ui-text-text" name="flowName" value="$!surveyFlow.flowName" maxlength="30"/>
        </div>
    </td>
</tr>

</table>
</tbody>
</form>

<hr class="ui-line" />
<div class="ui-layout-closure">
    #if($surveyFlow)
        <span id="btnSave" class="ui-closure-button" onclick="updateSurveyFlow()">
    	<label class="ui-closure-button-text" >$!pageConst.BTN_SAVE</label>
    </span>
        <span id="btnCancel" class="ui-closure-button ui-closure-button-cancel ml5">
    	<label class="ui-closure-button-text">$!pageConst.BTN_CANCEL</label>
    </span>
    #else
	<span id="btnSave" class="ui-closure-button" onclick="addSurveyFlow()">
    	<label class="ui-closure-button-text" >$!pageConst.BTN_SAVE</label>
    </span>
    <span id="btnCancel" class="ui-closure-button ui-closure-button-cancel ml5">
    	<label class="ui-closure-button-text">$!pageConst.BTN_CANCEL</label>
    </span>
    #end
</div>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.json2.js"></script>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
<script type="text/javascript" s3rc="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.validator.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.layout.js"></script>
<script type="text/javascript" src="../loan/js/surveyFlow/surveyFlowSave.js?v=$!webAppVersion"></script>
<script language="javascript" type="text/javascript">
    //禁用Enter键表单自动提交
    document.onkeydown = function(event) {
        var target, code, tag;
        if (!event) {
            event = window.event; //针对ie浏览器
            target = event.srcElement;
            code = event.keyCode;
            if (code == 13) {
                tag = target.tagName;
                if (tag == "TEXTAREA") { return true; }
                else { return false; }
            }
        }
        else {
            target = event.target; //针对遵循w3c标准的浏览器，如Firefox
            code = event.keyCode;
            if (code == 13) {
                tag = target.tagName;
                if (tag == "INPUT") { return false; }
                else { return true; }
            }
        }
    };

</script>
</body>
</html>