
<p align="center" style="color:#1b1b1b;font-size:large;margin:12px">贷款任务完成统计表($!startDate~$!endDate)</p>
<div class="ui-flexigrid" style="width: auto;text-align: center">
    <div class="ui-flexigrid-head clearfix">
        <div class="ui-flexigrid-head-inner">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th align="center" col="field"><div style="width: 230px; text-align: center;">任务名称</div></th>
                    <th align="center" col="field"><div style="width: 230px; text-align: center;">团队名称</div></th>
                    <th align="center" col="field"><div style="width: 200px; text-align: center;">任务目标</div></th>
                    <th align="center" col="field"><div style="width: 190px; text-align: center;">已完成</div></th>
                    <th align="center" col="field"><div style="width: 190px; text-align: center;">完成比</div></th>
                </tr>
                </thead>
            </table>
        </div></div>
    <div class="ui-flexigrid-body" style="width: auto;text-align: center">
        <div class="ui-flexigrid-body-inner" style="height: auto;">
            <table border="0" cellpadding="0" cellspacing="0">
                <body>
                #if($null.isNull($list)||$list.size()==0)
                <table></table>
                         <p  style="color:#4d4d4d;font-size:12px;margin:20px;text-align: center">当前时间范围无数据</p>
                    #else
                    #foreach($m in $list)
                    <tr>
                        <td><div style="width: 230px; text-align: center;">$!m.taskTitle</div></td>
                        <td><div style="width: 230px; text-align: center;">$!m.groupName</div></td>
                        <td><div style="width: 200px; text-align: center;">$!m.target</div></td>
                        <td><div style="width: 190px; text-align: center;">$!m.finished</div></td>
                        <td><div style="width: 190px; text-align: center;">$!m.taskPercent</div></td>
                    </tr>
                    #end
                #end
                </body>
            </table>

        </div></div>
</div>
<p align="center"style="color:#1b1b1b;font-size:small;margin:25px">制表人：$!name &nbsp;&nbsp;&nbsp; 制表时间：$!d</p>