<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分配任务</title>
<link type="text/css" rel="stylesheet" href="../core/css/global.css" />
<link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
<link type="text/css" rel="stylesheet" href="../permission/css/public.css" />

<style type="text/css">
</style>
</head>
<body>
<form id="form">	
	<input type="hidden" id="taskId" name="taskId" value="$!task.taskId" />
	<input type="hidden" id="teamGroupId" name="teamGroupId" value="$!teamGroupId" />
	<input type="hidden" id="assignTarget" name="assignTarget" value="$!teamGroupAssign.assignTarget" />
	<input type="hidden" id="groupTaskAssignId" name="groupTaskAssignId" value="$!teamGroupAssign.groupTaskAssignId" />
	
		<table class="ui-form-fields">
			<tbody>
				<tr>
					<td class="field" width="5%">
						<label style="font-size:14px;font-weight:800;">任务目标：</label>
					</td>
					<td  colspan="2">
							<label style="font-size:14px;font-weight:800;">
								$!target
                                #if($!task.taskMold==0)
                                    #if($!task.taskType==1)
                                        元
                                    #else
                                        笔
                                    #end
                                #else
                                    个
                                #end
							</label> 						
					</td>
				</tr>
			</tbody>
		</table>
<div class="ui-layout-statistics" style=" text-align:left; position:relative;">
    <label style="font-size:14px;font-weight:800;">
		分配至：
    </label>
</div>
<div class="ui-flexigrid" style="width: 337px;text-align:center">
    <div class="ui-flexigrid-head clearfix">
        <div class="ui-flexigrid-head-inner">
            <table border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>                  
                    <th width="130" align="center" col="field" class="">
                        <div style="width: 160px; text-align: center;">
								分配对象
                        </div>
                    </th>
                    <th width="130" align="center" col="field" class="">
                        <div style="width: 130px; text-align: center;">
								任务目标
                        </div>
                    </th> 					
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="ui-flexigrid-body">
        <div class="ui-flexigrid-body-inner" style="height: auto;">
            <table id="scriptInfoList" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    #foreach($member in $!userList)
                        <tr #if($velocityCount%2 ==1) class="odd" #end>                                                     
                                <td>
                                    <div style="width: 160px; text-align: center;">
                                        $!member.userName
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <div style="text-align: center;">	
										<input type="hidden" name="memberUserId" value="$!member.userId" />
										<input type="hidden" name="teamMemberTaskAssignId" value="$!member.teamMemberTaskAssignId" />
										<input type="text" name="assignNum" value="$!member.assignNum" maxlength="8" onblur="assignNumChange(this,$!member.assignNum,this.value)"/>
                                    </div>
                                </td> 								
                        </tr>
					#end
                        <tr>                                                     
                                <td>
                                    <div style="width: 160px; text-align: center;">
										 剩余
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 130px; text-align: center;">
                                        <span id="unSingedNum" font="color:red">$!unSingedNum</span>
                                    </div>
                                </td> 								
                        </tr>					
                </tbody>
            </table>
        </div>
    </div>
</div>
</form>
    <div style="text-align：cenger;margin-top:10px;">提示：点击任务目标数字进行编辑</div>
    <div style="margin-top: 120px"></div>
    <hr class="ui-line" />
	<div class="ui-layout-closure" style="margin-top:10px;">
			<span id="btnSave" class="ui-closure-button">
				<label class="ui-closure-button-text">$!pageConst.BTN_SAVE</label>
			</span> 
    		<span id="btnCancel" class="ui-closure-button ui-closure-button-cancel ml5">
    	 		<label class="ui-closure-button-text">$!pageConst.BTN_CANCEL</label>
    		</span>
	</div>
	<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.validator.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
	<!-- //页面业务逻辑脚本 -->
	<script type="text/javascript" src="../task/js/teamTaskAssign.js?v=$!webAppVersion"></script>
</body>
</html>