<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>团队分配明细</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
</head>

<body>
	<input type="hidden" id="taskId" name="taskId" value="$!taskId" />
	<input type="hidden" id="groupTaskAssignId" name="groupTaskAssignId" value="$!groupTaskAssignId" />
	<input type="hidden" id="teamGroupId" name="teamGroupId" value="$!teamGroupId" />
      <div class="ui-layout-action">
        #if($!showSignBtn)
			#if($funcPermit.hasFuncCode("assignTask")  and $!canAssign == '1' )
            	<span id="btnAssign" class="ui-button fl">
                	<label class="ui-button-text">分配任务</label> 
                </span>
            #end
		#end		
    </div>
	<table id="teamAssignGrid"></table>
    <br>
    <div class="ui-layout-closure">
        <span id="btnCancel" class="ui-closure-button ui-closure-button-cancel ml5">
	 		<label class="ui-closure-button-text">关闭</label>
		</span>
    </div>
    <script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
	<!-- //页面业务逻辑脚本 -->
	<script type="text/javascript" src="../task/js/teamTaskAssignList.js?v=$!webAppVersion"></script>
</body>
</html>