<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>详情</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
    <style type="text/css">
        html{height: 100%;}
        body,#allmap{padding:0; margin:0; width: 100%; height: 100%;}
    </style>
</head>
<body >
<input type="hidden" id="locationw" value="$!tagging.tagLatitude" />
<input type="hidden" id="locationj" value="$!tagging.tagLongitude" />
<input type="hidden" id="defaultw" value="$!lat" />
<input type="hidden" id="defaultj" value="$!lng" />
<input type="hidden" id="zoom" value="$!zoom" />
<div id="allmap"></div>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.json2.js"></script>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.9.0.js?v=$!webAppVersion"></script>
##<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
<script type="text/javascript" s3rc="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.validator.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.layout.js"></script>
<script type="text/javascript" src="../track/ruitu/js/RMap5_App.js">
<script type="text/javascript" src="../track/ruitu/js/tagging/taggingMapShowApp.js"></script>
</body>
</html>
