#*资产负债固定资产项明细，固定资产（经营，消费）  详情界面*#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>固定资产详情</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
    <link type="text/css" rel="stylesheet" href="../permission/css/public.css" />
    <style type="text/css">

    </style>
</head>

<body>
<form id="form">
    <table class="ui-form-fields">
        <tbody>
        <tr>
            <td class="field" width="5%">
                <label class="ui-star">类别：</label>
            </td>
            <td width="20%">
                #set($classId=$!entity.loanClassId+"")
                <label>$!constantCodeUtil.getCodeTableDisplay('cdDictColByName',$!loanUtil.codeTableParam($!entity.columnName,$classId),$!entity.itemType)</label>
            </td>
            <td class="field" width="5%">
                <label class="ui-star">名称：</label>
            </td>
            <td width="20%">
                <label>$!entity.itemName</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="5%">
                <label>数量：</label>
            </td>
            <td width="20%">
                <label>#if($entity.itemAccount) $!entity.itemAccount #else -- #end</label>
            </td>
            <td class="field" width="5%">
                <label>原值：</label>
            </td>
            <td width="20%">
                <label>#if($entity.oldAmount) $!formatUtil.formatDecimal($!entity.oldAmount) 元#else -- 元 #end</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="5%">
                <label>折旧金额：</label>
            </td>
            <td width="20%">
                <label>#if($entity.depreciationAmount) $!formatUtil.formatDecimal($!entity.depreciationAmount) 元#else -- 元 #end</label>
            </td>
            <td class="field" width="5%">
                <label>现值：</label>
            </td>
            <td width="20%">
                <label>#if($entity.newAmount) $!formatUtil.formatDecimal($!entity.newAmount) 元#else -- 元 #end</label>
            </td>
        </tr>
        <tr>
            <td class="field" width="5%">
                <label>金额：</label>
            </td>
            <td width="20%">
                <label>#if($entity.amount) $!formatUtil.formatDecimal($!entity.amount) 元#else -- 元 #end</label>
            </td>
            <td class="field" width="5%">
                <label>折旧率：</label>
            </td>
            <td width="20%">
                <label>#if($entity.depreciationRatio) $!entity.depreciationRatio %#else -- %#end </label>
            </td>
        </tr>
        <tr>
            <td class="field" width="5%">
                <label>备注：</label>
            </td>
            <td width="20%">
                <label>
                    $!entity.itemRemark
                </label>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div style="margin-top: 85px"></div>
<hr class="ui-line"/>
<div class="ui-layout-closure divcss10">
        <span id="btnCancel" class="ui-closure-button ui-closure-button-cancel ml5">
            <label class="ui-closure-button-text">$!pageConst.BTN_CLOSE</label>
        </span>
</div>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.validator.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
<!-- //初始化脚本 -->
<script type="text/javascript" src="../biz/js/banger.layout.js"></script>
<!-- //页面业务逻辑脚本 -->
<script type="text/javascript" src="../loan/js/assets/assetsDetail.js"></script>
</body>
</html>
