<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>资质详情</title>
	<!--
    <link type="text/css" rel="stylesheet" href="../core/css/global.css"/>
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css"/>
    <link type="text/css" rel="stylesheet" href="../uploadify/uploadify.css"/>
	-->
    <style type="text/css">
        .uploadifyQueueItem {
            width: auto !important;
        }
    </style>
</head>
<body>
<div id="imageDiv" class="image">
    <input type="hidden" id="fileName"
           name="fileName"
           value="$fileName"/>
    <input type="hidden" id="filePath"
           name="filePath"
           value="$filePath"/>
</div>
<script type="text/javascript"
        src="../core/js/third/jQuery/jquery-1.8.3.min.js"></script>
<script type="text/javascript"
        src="../core/js/banger/core/banger.core.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js"></script>
<script type="text/javascript"
        src="../core/js/banger/ui/controls/banger.datepicker.js"></script>
<script type="text/javascript"
        src="../core/js/banger/ui/controls/banger.flexigrid.js"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js"></script>
<script type="text/javascript"
        src="../core/js/banger/ui/tools/banger.validator.js"></script>
<script type="text/javascript">
$(function () {
    var fileName = $("#fileName").val();
    var filePath = $("#filePath").val();
    var url = '../certificate/getImageThumbnail.html?fileName=' + encodeURI(encodeURI(fileName))
            + "&filePath=" + encodeURI(encodeURI(filePath));
    var tempStr = "<img   src=" + url + " />";
    $('#imageDiv').html(tempStr);
});
        </script>
</body>
</html>