<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>模板信息列表</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
    <link type="text/css" rel="stylesheet" href="../config/css/public.css" />
</head>
<body>
<div style=" margin: 10px 10px 20px; " id="importReport">
    <span style=" border: 1px #ccc solid; padding: 5px; margin: 0px; border-radius: 5px; cursor: pointer; ">
    导入调查报告</span>
</div>
<hr class="ui-line">
<div class="ui-layout-action">
    <span id="btnRefresh" class="ui-button fr ml5">
        <label class="ui-button-text">$!pageConst.BTN_REFRESH</label>
    </span>
</div>
<div class="ui-layout-upload-title">

</div>
<table id="gridReport" ></table>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js" ></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.autotips.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js" ></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.treeselectbox.js" ></script>
<script type="text/javascript" src="../config/js/modelConfig/reportList.js"></script>
</body>
</html>
