<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="../core/css/global.css?v=$!webAppVersion" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css?v=$!webAppVersion" />
</head>

<body>
	<div class="ui-layout-statistics">
        贷款类型: ${LoanType}
	</div>
   	<form>
	<input type="hidden" id="typeId" name="typeId" value="${typeId}"/>
	<input type="hidden" id="LoanType" name="LoanType" value="${LoanType}"/>
	</form>
    <table id="loanProcessTypeList"></table>
    <script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger.biz.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../loan/js/loanProcessTypeList.js"></script>

</body>
</html>