<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>设置评分项</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
</head>

<body>
<input type="hidden" id="modeId" name="modeId" value="$!scoreInfo.modeId">
<div class="ui-layout-statistics" >
    模型名称：$!scoreInfo.modeName
</div>
<div class="ui-layout-action">
    <span id="btnCopy" class="ui-button fl">
        <label class="ui-button-text">复制</label>
    </span>
    <label class="c999 fl" style="padding-top: 5px">（您可以选择复制其他评分模型的内容再进行调整）</label>
</div>
<div class="ui-layout-action">
    <span id="btnNew" class="ui-button fl">
        <label class="ui-button-text">添加</label>
    </span>
</div>
<table id="grid"></table>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.json2.js"></script>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.validator.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.abnormal.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js"></script>
<script type="text/javascript" src="../biz/js/banger.bizEx.js"></script>
<script type="text/javascript" src="../biz/js/banger.layout.js"></script>
<script type="text/javascript" src="../config/js/model/modelScoreFieldList.js"></script>
</body>
</html>
