<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新增</title>
    <link type="text/css" rel="stylesheet" href="../core/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css" />
</head>

<body>
<form id="form">
    <input type="hidden" name="loanId" id="loanId" value="$!loanId">
    <table class="ui-form-fields">
        <tbody>
        <tr>
            <td class="field" width="5%">
                <label class="ui-star">计划还款日期：</label>
            </td>
            <td width="20%">
                <div class="ui-text">
                    <input type="text" id="loanRepayPlanDate" class="ui-text-text" name="loanRepayPlanDate" />
                    <i class="ui-text-icon ui-text-date"></i>
                </div>
            </td>
            <td class="field" width="5%">
                <label class="ui-star">应还本金：</label>
            </td>
            <td width="20%">
                <div class="ui-text">
                    <input type="text" id="loanPrincipalAmount" name="loanPrincipalAmount"  class="ui-text-text" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="field" width="5%">
                <label class="ui-star">应还利息：</label>
            </td>
            <td width="20%">
                <div class="ui-text">
                    <input type="text" id="loanAccrualAmount" name="loanAccrualAmount"  class="ui-text-text" />
                </div>
            </td>
##            <td class="field" width="5%">
##                <label class="ui-star">状态：</label>
##            </td>
##            <td width="20%">
##                <select id="loanCollectionState" name="loanCollectionState" disabled>
##                    <option></option>
##                    <option value="Collection">未催收</option>
##                    <option value="CollectionComplete">已催收</option>
##                </select>
##            </td>
        </tr>
        </tbody>
    </table>
</form>
<div style="margin-top: 105px"></div>
<hr class="ui-line" />
<div class="ui-layout-closure">
##    #if($funcPermit.hasFuncCode("loanCollection"))
    <span id="btnSaveLoanRepayPlanInfo" class="ui-closure-button">
        <label class="ui-closure-button-text">$!pageConst.BTN_SAVE</label>
    </span>
    <span id="btnContinueLoanRepayPlanInfo" class="ui-closure-button ml5">
        <label class="ui-closure-button-text">$!pageConst.BTN_SAVE_CONTINUE</label>
    </span>
##    #end
    <span id="btnCancelLoanRepayPlanInfo" class="ui-closure-button ui-closure-button-cancel ml5">
        <label class="ui-closure-button-text">$!pageConst.BTN_CANCEL</label>
    </span>
</div>
<script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.datepicker.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/controls/banger.selectbox.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.biz.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../core/js/banger/ui/tools/banger.validator.js?v=$!webAppVersion"></script>
<script type="text/javascript" src="../biz/js/banger.layout.js"></script>
<!-- //页面业务逻辑脚本 -->
<script type="text/javascript" src="../loan/js/repayPlan/loanRepayPlanInfoSave.js?v=$!webAppVersion"></script>

</body>
</html>
