<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="../core/css/global.css?v=$!webAppVersion" />
    <link type="text/css" rel="stylesheet" href="../core/css/ui.css?v=$!webAppVersion" />
</head>

<body>
   	<form>
	<input type="hidden" id="modelId" name="modelId" value="${modelId}"/>
    <table id="modelConfigList">
    </table>
	<div class="ui-layout-closure">
	<span id="btnSave" class="ui-closure-button">
    	<label class="ui-closure-button-text" >$!pageConst.BTN_SAVE</label>
    </span>
    <span id="btnCancel" class="ui-closure-button ui-closure-button-cancel ml5">
    	<label class="ui-closure-button-text">$!pageConst.BTN_CANCEL</label>
    </span>
	</form>
    </div>
    <script type="text/javascript" src="../core/js/third/jQuery/jquery-1.8.3.min.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/core/banger.core.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/banger.ui.js?v=$!webAppVersion"></script>
    <script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.form.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/tools/banger.dialog.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger/ui/controls/banger.flexigrid.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../core/js/banger.biz.js?v=$!webAppVersion"></script>
	<script type="text/javascript" src="../system/js/modelConfig.js?v=$!webAppVersion"></script>
</div>
</body>
</html>