<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 加载sqlMap 节点bean -->
	<bean id="SqlMap" parent="AbstractSqlMap" >
		<property name="contexts" >
			<set merge="true">
				<ref bean="pmsSqlMap"></ref>
			</set>
		</property>
	</bean>
	
</beans>