<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>申请人</title>
    <style>
      	
        body{font-size: 0.14rem;/*实际相当于14px*/}
        body,*{
            padding:0;
            margin:0;
        }
        .headDiv{
			width:100%;
			height:1.6rem;
			background:#109add;
			text-align:center;
			line-height:1.6rem;
			vertical-align:middle;
			}
			
		
		.headDiv label{
			font-size:0.5rem;
			font-family:FZLTHJW--GB1-0;
			text-align:center;
			color:#FFF;
			margin-right:1.2rem;
			}
			
		.bodyDiv{
			width:100%;
			height:15.8rem;
			background:#fff;
			}
		.bodyDiv form{
			width:100%;
			height:100%;		
			}
			
		.bodyDiv ul{
			margin-top:1.2rem;
			margin-left:0.35rem;
			
			}
			
		.bodyDiv ul li{
			list-style-type:none;
			height:1.2rem;
			line-height:1.2rem;
			width:100%;
		
			}
		
			
		.vaileLi{
			margin-top:0.54rem;	
			
			}
      	 .personDiv{
			  display: inline-block;
			   margin-left:0.8rem;
			  width:7.8rem;
			  height:1.2rem;
			 text-align:center;
			}
			
		  .idDiv{
			  display: inline-block;
			  margin-left:0.4rem;
			  width:7.8rem;
			  height:1.2rem;
	 		  margin-left:0.4rem;
				 text-align:center;
			}
			 
		 .phoneLab{
			  display: inline-block;
			  margin-left:0.1rem;
			  font-size:0.42rem;
			  font-family:FZLTH--GB1-4;
			  color:#333333;
           
			 }
		  .vaileLab{
			  display: inline-block;
			  margin-left:0.1rem;
			  font-size:0.42rem;
			  font-family:FZLTH--GB1-4;
			  color:#333333;
             
			 }
			 
			 
		 .phoneI{
			  font-size:0.42rem;
			  font-family:FZLTH--GB1-4;
			  color:#f02b2b; 
			  float:left;
			  height:100%;
			  line-height:100%;
			  margin-top:0.5rem;
			 }
		 .vaileI{
			  font-size:0.42rem;
			  font-family:FZLTH--GB1-4;
			  color:#f02b2b; 
			  float:left;
			  height:100%;
			  line-height:100%;
			  margin-top:0.5rem;
			 }
			 
		 .nameCla{
			 width:95%;
			 height:95%;
			 line-height:98%;
			 font-size:0.42rem;
			  -webkit-box-sizing: border-box;
           	  -moz-box-sizing: border-box;
          	  box-sizing: border-box;
			border:2px solid #a6a6a6;
           	 border-radius:0.2rem;
			 padding-left:0.2rem;
			 }
		 .idCla{
			 width:95%;
			 height:95%;
			 line-height:98%;
			 font-size:0.42rem;
			 -webkit-box-sizing: border-box;
           	  -moz-box-sizing: border-box;
          	  box-sizing: border-box;
			   border:2px solid #a6a6a6;
			   	 border-radius:0.2rem;
			 padding-left:0.2rem;
			 }
			 
	
		   .nextDiv{
			   width:100%;
			   text-align:center;
			   margin-top:10.12rem;
			   }
		  .nextStep{
			  width:9.96rem;
			  height:1.44rem;
			  text-align:center;
			  line-height:1.44rem;
			  font-family:FZLTHJW--GB1-0;
			  font-size:0.54rem;
			  -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
			  border-radius:0.2rem;
			  background:#dfdfdf;
			  color:#b3b3b3;
			  border:0px ;
			  }
			 .headSpan{
				 float:left;
			     display:-moz-inline-box;
				 height:1.6rem;
				 display:inline-block;
				 background: url(../html5/intoApply/backIcon.png)  no-repeat 0.1rem 0.45rem;
				 width:1.6rem;
				 line-height:1.6rem;
				
				 }
			
    </style>
    <link rel="stylesheet" href="../html5/layer/need/layer.css">
</head>
<body>
	<div class="headDiv"><span id="backstep" class="headSpan"></span><label>申请人</label></div>
    <div class="bodyDiv">
    	<form>
        	<ul>
            	<li class="phoneLi"><i class="phoneI">*</i><label class="phoneLab">姓名</label><div class="personDiv"><input type="text" name="" id="personName" class="nameCla"    placeholder="请填写真实姓名"></div></li>
                <li class="vaileLi"><i class="vaileI">*</i><label class="vaileLab">身份证</label><div class="idDiv"><input type="text" name="idCard" id="idCard" class="idCla" placeholder="请填写真实的身份证号码"></div></li>
             </ul>     
 			<div class="nextDiv"><button  id="nextStep" class="nextStep" type="button" disabled="true">下一步</button></div>
    	</form>
    
    </div>
    <input type="hidden" name="phone" id="phone" value="$!phone">
    <input type="hidden" name="id1" id="id1" value="$!id1">
    <input type="hidden" name="id2" id="id2" value="$!id2">
    <input type="hidden" name="userAccount" id="userAccount" value="$!userAccount">
</body>
<script type="text/javascript" charset="UTF-8" src="../core/js/third/jQuery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" charset="UTF-8" src="../html5/layer/layer.js"></script>
<script type="text/javascript" charset="UTF-8" src="../html5/js/adaptive.js"></script>
<script type="text/javascript" charset="UTF-8" src="../html5/js/checkIdentOffFace.js"></script>
<script>

	adpative(document, window);

</script>

</html>